.swiper {
    position: relative;
    height: 100vh;
    display: contents;
    justify-content: center;
    align-items: center;
}

.image {
    width: 80%;
    margin: 10% 0 0 10%;
    height: 50vh;
    border-radius: 10px;
    transform: scale(1.08);
}

.prevBanner {
    position: absolute;
    top: 35%;
    left: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transform: translateY(50%);
}

.right_arrow {
}

.nextBanner {
    position: absolute;
    top: 35%;
    right: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transform: translateY(50%);
}

.left_arrow {
}

.swipe {
    opacity: 0;
    transition-duration: 1s ease;
}

.swipe_active {
    opacity: 1;
    transition-duration: 1s;
}
