.form {
    display: block;
    position: relative;
    top: 5em;
    margin: auto;
    width: 30em;
}

.container {
    width: 100%;
}

.input,
.textarea,
.select,
.button,
.fileInput {
    margin-bottom: 1em;
    font-size: 0.8rem;
    width: 100%;
    border: 0;
    padding: 0.5em;
    border: 1px solid Black;
    background: White;
}

.input,
.select,
.textarea {
    width: -webkit-fill-available;
    flex: 1 1 30%;
    border-radius: 0.5em;
}

.fileInput {
    width: 100%;
    padding: 0;
    flex: 1 1 50%;
}

.input:focus,
.textarea:focus,
.select:focus,
.button:focus {
    outline: 0;
}

.textarea {
    flex-basis: 100%;
}
